html {
  scroll-behavior: smooth;
}

body{
  background-color: #121316;
  color: white;
}
body, ul{
  margin: 0;
  padding: 0;

}

#logo{
  color: #c75887;
  text-decoration: none;
  font-size: 2rem;
  font-family: bold;
}

a:hover{
  background: rhba( 0, 0, 0, .05);
}


header{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 1rem;
  justify-content: space-between;
  background: black;
}

#menu{
  display: flex;
  list-style: none;
  gap: .5rem;
}

#menu a{
  display: block;
  padding: .5rem;
}

#menu{
  display: block;
  position: absolute;
  width: 13rem;
  top: 75px;
  right: 0;
  background: black;
  transition: .6s;
  z-index: 1000;
  height:  0;
  visibility: hidden;
  overflow-y: hidden;
}

#nav.active #menu{
  height: calc(21rem - 119px); /*para ficar a tela inteira sem descer mais. 70px seria do topo */
  visibility: visible;
  overflow-y: auto;
}

#nav.active #menu::-webkit-scrollbar{
  display: none;
}

#menu a{
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.185);
  color: white;
}

#btn-mobile{
  display: flex;
  padding: .5rem 1rem;
  font: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .5rem;
}

#hamburger{
  color: white;
  display: block;
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after, #hamburger::before{
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#nav.active #hamburger{
  border-top-color: transparent;
}

#nav.active #hamburger::before{
  transform: rotate(-135deg);
}

#nav.active #hamburger::after{
  transform: rotate(135deg);
  top: -7px;
}

footer{
  background: black;
  color: white;
  height: 40px;
  font-size: .59rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
}
a{
  text-decoration: none;
}

*{
  /* funcionando no FireFox a barra de rolagem */
  scrollbar-width: thin;
  scrollbar-color: pink gray;
}
/* funcionando no chrome, safari e edge a barra de rolagem */

*::-webkit-scrollbar{
  width: .3rem;
}

*::-webkit-scrollbar-track{
  background: #232428;
}

*::-webkit-scrollbar-thumb{
  background-color: #ff2f97;
  border-radius: .5rem;
  border: 2px solid white;
}