.colaborador{
    margin: auto;
    text-align: center;
}

img{
    width: 6rem;
}

a{
    color: black;
}

footer{
    position: fixed;
}

.link{
    background-color: white;
    width: 15rem;
    display: flex;
    margin: 3rem;
    border-radius: .3rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex{
    display: flex;
    margin: 1rem;
}

p{
    margin: 1rem;
}