#img{
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    display: block;
    margin: auto;
}

.materia{
    padding: 3rem !important;
    line-height: 1.6;
    
}

#texto{
    text-align: justify;
}

#data{
    text-align: end;
    font-size: .7rem;
}

#compartilhar{
    width: 2rem;
    height: 2rem;
    justify-content: flex-end;
    margin-left: 1rem ;
    margin-top: 1rem;
    border-radius: .2rem;
}

.compartilhamento{
    display: flex;
    justify-content: end;
}

.area-tag{
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: .6rem;
    background-color: rgb(68, 68, 68);
    justify-content: center;
    flex-wrap: wrap;
}

.tag-site{
    justify-content: center;
}